<nav>
    <ul>
        <li class="left">MiddleMan&nbsp;Dark</li>
        <li style="display: none">List Item</li>
        <li style="display: none">List Item</li>
        <li style="display: none">Portfolio</li>
        <li href="#Portfolio">Features</li>
    </ul>
</nav>