---
title: Welcome to Middleman
---
<html>
<body>
<header>
    <%= partial "navbar" %>
</header>

<div class="container-bg">
    <%= partial "jumbotron" %>
</div>

<p> This is a site made from the Middleman framework. It is in a dark theme. I look forward to using this framework some
 in the future. <br> It is not too hard to use and it is set up like a CDN.</p>

<!-- footer -->
<%= partial "footer" %>

</body>
</html>